@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.logo {
  height: 80px;
  font-weight: bolder;
}

.header-img {
  /* border-radius: 50%; */
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  height: 400px;
}

.mobile-view-header {
  display: none !important;
}

.desktop-view-header {
  display: block !important;
}

.header-title {
  font-size: 29px;
}

footer {
  bottom: 0 !important;
  /* position: fixed; */
}

.about-sub-title {
  font-size: 18px;
}

.about-text {
  font-size: 14px;
}

.header-container {
  height: 88vh;
}
.about-container {
  height: 100vh;
}

.contact-container {
  text-align: center;
  position: relative;
  height: 80vh;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.about-card {
  width: 32%;
}

.footer-text {
  font-size: 13px;
}

@media only screen and (max-width: 480px) {
  .logo {
    height: 55px;
  }
  .header-img {
    height: auto;
    width: 70%;
  }

  .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container {
    flex-direction: column !important;
    margin-top: 10px !important;
    height: 360px !important;
    width: 100vw !important;
  }
  .about-container {
    flex-direction: column !important;
    margin-top: 15px !important;
    height: auto;
  }

  .about-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-cards {
    flex-direction: column !important;
    margin-top: 5px;
  }
  .about-card {
    margin-top: 10px;
    width: 100%;
  }
  .header-title {
    font-size: 15px;
    text-align: center;
  }
  .desktop-view-header {
    display: none !important;
  }
  .mobile-view-header {
    display: block !important;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-text {
    font-size: 14px;
  }
  .footer-items {
    flex-direction: column;
  }
  .contact-container {
    text-align: center;
    /* position: relative; */
    height: 100vh;
  }

  .footer {
    position: relative;
    bottom: 0px;
    width: 100%;
  }
  .copyright {
    flex-direction: column;
  }
}
